@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.navbar {
    background-color: $color-secundario !important;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-left: 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: $color-acento;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .navbar-nav .nav-link {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    footer {
        text-align: center;
    }

    footer .text-md-end {
        text-align: center !important;
        margin-top: 1rem;
    }
}
