@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

/* boton */
.btn-primary {
    background-color: $color-primario;
    border: none;
    padding: 0.75rem 1.5rem;
}

.btn-primary:hover {
    background-color: #084298;
}