@use "../utilities/mixin" as *;
@use "../utilities/variables" as *;


.servicios-grid {
  @include grid;

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(mobile) {
    grid-template-columns: 1fr;
  }
}


